form {
    border: 1px solid #c6c7cc;
    border-radius: 5px;
    width:500px;
    overflow: hidden;
    background-color: rgb(236, 157, 225);
    margin:0 auto;
  
  }
  h1{
    text-align:center;
  }
  label {
    text-align: right;
    width: 400px;
    margin-bottom: 10px;
  }
  input {
    display:block;
    height: 20px;  
    margin-bottom:10px;
  }
  div{
      margin-left:20px;
      margin-top:10px;
      margin-bottom:10px;
  }
  input[type="radio"]
  {
    display:inline;
  }